.scroll {
height: 100%;
}
#map {
width: 100%;
height: 200px;
}
ion-view {
background: url('../img/1.jpg'); 
}

#home .position, #home .position .row {
padding: 0px;
}
#home .search {
background-color: rgba(255,255,255,0.5);
border: none;
}
#home .button.disabled, #home .button[disabled]{
opacity: 0.6;
}
.has-footer {
bottom: 10px !important;
}
#about .logoAbout img{
margin-top: 5px;
max-width: 100%;
}
#about .item {
color: #666;
font-size: 14px;
}
#about .item .col {
padding: 1px;
}